# Database
DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.cducqtufhowinwgeacix
DB_PASSWORD=ONPMbCsheum71EYM

# Server
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=dev_jwt_secret_replace_in_production_32chars
JWT_EXPIRES_IN=24h

# Security
BCRYPT_SALT_ROUNDS=10

# CORS
CORS_ORIGIN=http://localhost:5173
